.header-nav {
  &__container {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__list-item {
    padding: 5px;
  }

  &__list-item--right {
    margin-left: auto;
  }
}
